<a href="https://colab.research.google.com/github/anosharshad/Practise-Git/blob/master/Gender_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [1]:
import librosa
import IPython.display as ipd
import numpy as np
import pandas as pd
import os

In [ ]:
gender_df = pd.DataFrame(columns=['ID','sex'])

# Picking the data from SPEAKERS.TXT and making dataframe of and ID's and gender

file1 = open('/content/drive/MyDrive/Colab Notebooks/LibriSpeech/SPEAKERS.TXT', 'r') 
Lines = file1.readlines() 

i = 0

for line in Lines:
  if line.startswith(';'):
    pass
  else:

    line = line.replace(" ", "")
    line = line.split('|')
    gender_df.at[i,'ID'] = line[0]
    gender_df.at[i,'sex'] = line[1]

    i = i +1

gender_df.head()

   ID sex
0  14   F
1  16   F
2  17   M
3  19   F
4  20   F

In [ ]:
import os 

# Picking the files from dev-clean directory and making dataframe with person ID as index and MFCCs coefficients and sex as coulumns for each audio file

Data = pd.DataFrame()

main_dir = os.listdir('/content/drive/MyDrive/Colab Notebooks/LibriSpeech/dev-clean')

# Using the half data 

main_dir = main_dir[0:20]

for id_folder in main_dir:
  id_folder_subfolder = os.listdir('/content/drive/MyDrive/Colab Notebooks/LibriSpeech/dev-clean'+'/'+str(id_folder))

  for data_folder in id_folder_subfolder:
    file_folder = os.listdir('/content/drive/MyDrive/Colab Notebooks/LibriSpeech/dev-clean'+'/'+str(id_folder)+'/'+str(data_folder))
    for file in file_folder:
      if file.endswith('.txt'):
        pass
      else:
        audio_file = '/content/drive/MyDrive/Colab Notebooks/LibriSpeech/dev-clean'+'/'+str(id_folder)+'/'+str(data_folder)+'/'+file
        signal, sr = librosa.load(audio_file)
        mfcc = librosa.feature.mfcc(signal, n_mfcc=20, sr=sr)
        mfccs_processed = np.mean(mfcc.T,axis=0)
        mfccs_processed = mfccs_processed.reshape(1,20)
        gender = gender_df.loc[ (gender_df.ID == id_folder), 'sex'].values[0]
        df = pd.DataFrame(data=mfccs_processed, index=[id_folder])
        df.at[id_folder,'sex'] = gender
        Data = pd.concat([Data, df])

In [ ]:
Data

               0           1          2  ...        18        19  sex
174  -501.744238  109.983814 -24.246647  ...  1.173393 -3.595596    M
174  -523.684890  127.009969 -12.127082  ... -1.072215  1.871589    M
174  -402.545096  111.973975 -29.493962  ... -0.676222 -0.591905    M
174  -452.032887  131.016168 -25.497588  ... -2.577945 -0.141906    M
174  -494.896028   86.896507 -18.297764  ... -2.616495  2.547774    M
...          ...         ...        ...  ...       ...       ...  ...
2902 -410.231737   99.284289 -10.742460  ... -1.361228 -1.229088    M
2902 -377.721994   91.995554  -5.075856  ... -2.340341 -1.300948    M
2902 -359.017806   92.268295 -10.924649  ... -0.378434 -1.089240    M
2902 -384.535418  103.659889 -14.237995  ... -0.643425 -2.668074    M
2902 -407.212792  109.327615 -16.732378  ...  0.533427 -0.306740    M

[1309 rows x 21 columns]

In [ ]:
Data.to_csv(r'/content/drive/MyDrive/Colab Notebooks/data.csv', index = False)

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn import metrics

In [5]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPool1D

from tensorflow.keras.optimizers import Adam

In [6]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv') 
data.head()

            0           1          2  ...        18        19  sex
0 -501.744238  109.983814 -24.246647  ...  1.173393 -3.595596    M
1 -523.684890  127.009969 -12.127082  ... -1.072215  1.871589    M
2 -402.545096  111.973975 -29.493962  ... -0.676222 -0.591905    M
3 -452.032887  131.016168 -25.497588  ... -2.577945 -0.141906    M
4 -494.896028   86.896507 -18.297764  ... -2.616495  2.547774    M

[5 rows x 21 columns]

In [7]:
# convert srting data into numberic eg. male 1, female 0
df1 = data
df1 = df1.drop(['sex'],axis = 1)
X1 = df1.values
y1 = data['sex'].values

# only one column has object type so I encode it

encoder = LabelEncoder()
y1 = encoder.fit_transform(y1)

In [8]:
scaler = StandardScaler()
scaler.fit(X1)
X1 = scaler.transform(X1)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.2, random_state=1)

In [10]:
# SVC

from sklearn.svm import SVC
from sklearn import metrics
svc=SVC() #Default hyperparameters
svc.fit(X_train,y_train)
y_pred1=svc.predict(X_test)
print(metrics.accuracy_score(y_test,y_pred1))

0.9923664122137404

In [11]:
# KNeighborsClassifier (KNN)

from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier()
clf.fit(X_train, y_train)
y_pred2 = clf.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred2))

1.0

In [12]:
#Random forest 

rand_forest = RandomForestClassifier()
rand_forest.fit(X_train, y_train)
y_pred3 = rand_forest.predict(X_test)
print(metrics.accuracy_score(y_test,y_pred3))

0.9732824427480916

In [13]:
# Deep neural network (CNN)
data.shape

(1309, 21)

In [14]:
data.head()

            0           1          2  ...        18        19  sex
0 -501.744238  109.983814 -24.246647  ...  1.173393 -3.595596    M
1 -523.684890  127.009969 -12.127082  ... -1.072215  1.871589    M
2 -402.545096  111.973975 -29.493962  ... -0.676222 -0.591905    M
3 -452.032887  131.016168 -25.497588  ... -2.577945 -0.141906    M
4 -494.896028   86.896507 -18.297764  ... -2.616495  2.547774    M

[5 rows x 21 columns]

In [15]:
for index in data.index:
  temp = data.loc[index,'sex']
  if temp == 'M':
    data.at[index,'sex'] = int(1)
  if temp == 'F':
    data.at[index,'sex'] = int(0)
  

data.sex = data.sex.astype('int64')

In [16]:
data.head()

            0           1          2  ...        18        19  sex
0 -501.744238  109.983814 -24.246647  ...  1.173393 -3.595596    1
1 -523.684890  127.009969 -12.127082  ... -1.072215  1.871589    1
2 -402.545096  111.973975 -29.493962  ... -0.676222 -0.591905    1
3 -452.032887  131.016168 -25.497588  ... -2.577945 -0.141906    1
4 -494.896028   86.896507 -18.297764  ... -2.616495  2.547774    1

[5 rows x 21 columns]

In [17]:
X = data.drop(['sex'], axis=1)
X.head()

            0           1          2  ...        17        18        19
0 -501.744238  109.983814 -24.246647  ... -5.013810  1.173393 -3.595596
1 -523.684890  127.009969 -12.127082  ... -1.583486 -1.072215  1.871589
2 -402.545096  111.973975 -29.493962  ... -5.376310 -0.676222 -0.591905
3 -452.032887  131.016168 -25.497588  ... -8.299305 -2.577945 -0.141906
4 -494.896028   86.896507 -18.297764  ... -5.082866 -2.616495  2.547774

[5 rows x 20 columns]

In [18]:
y = data.sex.values

In [19]:
y

array([1, 1, 1, ..., 1, 1, 1])

In [21]:
X.shape

(1309, 20)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, stratify = y)

In [23]:
X_train.shape

(1047, 20)

In [24]:
X_test.shape

(262, 20)

In [25]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [26]:
X_train = X_train.reshape(1047,20,1)
X_test = X_test.reshape(262, 20, 1)

In [27]:
epochs = 50
model = Sequential()
model.add(Conv1D(filters=32, kernel_size=2, activation='relu', input_shape = (20,1)))
model.add(BatchNormalization())
model.add(Dropout(0.2))

model.add(Conv1D(filters=64, kernel_size=2, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))

model.add(Flatten())
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))

model.add(Dense(1, activation='sigmoid'))

In [28]:
model.compile(optimizer=Adam(lr=0.00005), loss = 'binary_crossentropy', metrics=['accuracy'])

In [29]:
history = model.fit(X_train, y_train, epochs=epochs, validation_data=(X_test, y_test), verbose=1)

Epoch 1/50
33/33 [==============================] - 0s 13ms/step - loss: 1.1328 - accuracy: 0.5750 - val_loss: 0.6629 - val_accuracy: 0.6985
Epoch 2/50
33/33 [==============================] - 0s 5ms/step - loss: 0.9892 - accuracy: 0.5759 - val_loss: 0.6338 - val_accuracy: 0.7901
Epoch 3/50
33/33 [==============================] - 0s 5ms/step - loss: 0.8391 - accuracy: 0.6609 - val_loss: 0.6006 - val_accuracy: 0.8740
Epoch 4/50
33/33 [==============================] - 0s 5ms/step - loss: 0.7102 - accuracy: 0.6972 - val_loss: 0.5626 - val_accuracy: 0.8702
Epoch 5/50
33/33 [==============================] - 0s 6ms/step - loss: 0.6737 - accuracy: 0.7202 - val_loss: 0.5185 - val_accuracy: 0.8702
Epoch 6/50
33/33 [==============================] - 0s 5ms/step - loss: 0.5653 - accuracy: 0.7526 - val_loss: 0.4709 - val_accuracy: 0.8664
Epoch 7/50
33/33 [==============================] - 0s 5ms/step - loss: 0.4610 - accuracy: 0.7947 - val_loss: 0.4206 - val_accuracy: 0.8740
Epoch 8/50
33/33 [==============================] - 0s 5ms/step - loss: 0.4631 - accuracy: 0.7927 - val_loss: 0.3706 - val_accuracy: 0.8931
Epoch 9/50
33/33 [==============================] - 0s 5ms/step - loss: 0.4336 - accuracy: 0.8157 - val_loss: 0.3194 - val_accuracy: 0.9122
Epoch 10/50
33/33 [==============================] - 0s 5ms/step - loss: 0.4195 - accuracy: 0.8147 - val_loss: 0.2763 - val_accuracy: 0.9198
Epoch 11/50
33/33 [==============================] - 0s 5ms/step - loss: 0.3830 - accuracy: 0.8233 - val_loss: 0.2385 - val_accuracy: 0.9351
Epoch 12/50
33/33 [==============================] - 0s 5ms/step - loss: 0.3738 - accuracy: 0.8453 - val_loss: 0.2069 - val_accuracy: 0.9466
Epoch 13/50
33/33 [==============================] - 0s 5ms/step - loss: 0.3199 - accuracy: 0.8577 - val_loss: 0.1803 - val_accuracy: 0.9466
Epoch 14/50
33/33 [==============================] - 0s 5ms/step - loss: 0.3234 - accuracy: 0.8577 - val_loss: 0.1589 - val_accuracy: 0.9504
Epoch 15/50
33/33 [==============================] - 0s 6ms/step - loss: 0.3219 - accuracy: 0.8577 - val_loss: 0.1385 - val_accuracy: 0.9618
Epoch 16/50
33/33 [==============================] - 0s 5ms/step - loss: 0.2934 - accuracy: 0.8739 - val_loss: 0.1224 - val_accuracy: 0.9733
Epoch 17/50
33/33 [==============================] - 0s 5ms/step - loss: 0.2770 - accuracy: 0.8806 - val_loss: 0.1105 - val_accuracy: 0.9809
Epoch 18/50
33/33 [==============================] - 0s 5ms/step - loss: 0.2728 - accuracy: 0.8911 - val_loss: 0.1015 - val_accuracy: 0.9809
Epoch 19/50
33/33 [==============================] - 0s 5ms/step - loss: 0.2583 - accuracy: 0.8930 - val_loss: 0.0943 - val_accuracy: 0.9809
Epoch 20/50
33/33 [==============================] - 0s 4ms/step - loss: 0.2402 - accuracy: 0.8997 - val_loss: 0.0889 - val_accuracy: 0.9809
Epoch 21/50
33/33 [==============================] - 0s 6ms/step - loss: 0.2450 - accuracy: 0.8949 - val_loss: 0.0842 - val_accuracy: 0.9809
Epoch 22/50
33/33 [==============================] - 0s 5ms/step - loss: 0.2377 - accuracy: 0.9093 - val_loss: 0.0802 - val_accuracy: 0.9809
Epoch 23/50
33/33 [==============================] - 0s 5ms/step - loss: 0.2351 - accuracy: 0.8988 - val_loss: 0.0757 - val_accuracy: 0.9809
Epoch 24/50
33/33 [==============================] - 0s 5ms/step - loss: 0.2067 - accuracy: 0.9121 - val_loss: 0.0718 - val_accuracy: 0.9809
Epoch 25/50
33/33 [==============================] - 0s 5ms/step - loss: 0.2011 - accuracy: 0.9160 - val_loss: 0.0679 - val_accuracy: 0.9809
Epoch 26/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1957 - accuracy: 0.9188 - val_loss: 0.0640 - val_accuracy: 0.9809
Epoch 27/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1928 - accuracy: 0.9179 - val_loss: 0.0611 - val_accuracy: 0.9847
Epoch 28/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1842 - accuracy: 0.9265 - val_loss: 0.0592 - val_accuracy: 0.9847
Epoch 29/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1810 - accuracy: 0.9255 - val_loss: 0.0576 - val_accuracy: 0.9847
Epoch 30/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1488 - accuracy: 0.9389 - val_loss: 0.0561 - val_accuracy: 0.9847
Epoch 31/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1854 - accuracy: 0.9236 - val_loss: 0.0538 - val_accuracy: 0.9847
Epoch 32/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1774 - accuracy: 0.9322 - val_loss: 0.0520 - val_accuracy: 0.9885
Epoch 33/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1883 - accuracy: 0.9284 - val_loss: 0.0512 - val_accuracy: 0.9847
Epoch 34/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1561 - accuracy: 0.9408 - val_loss: 0.0490 - val_accuracy: 0.9885
Epoch 35/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1718 - accuracy: 0.9265 - val_loss: 0.0469 - val_accuracy: 0.9885
Epoch 36/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1610 - accuracy: 0.9341 - val_loss: 0.0459 - val_accuracy: 0.9885
Epoch 37/50
33/33 [==============================] - 0s 6ms/step - loss: 0.1704 - accuracy: 0.9331 - val_loss: 0.0457 - val_accuracy: 0.9885
Epoch 38/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1589 - accuracy: 0.9379 - val_loss: 0.0455 - val_accuracy: 0.9885
Epoch 39/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1628 - accuracy: 0.9379 - val_loss: 0.0439 - val_accuracy: 0.9885
Epoch 40/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1716 - accuracy: 0.9284 - val_loss: 0.0433 - val_accuracy: 0.9885
Epoch 41/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1340 - accuracy: 0.9475 - val_loss: 0.0421 - val_accuracy: 0.9885
Epoch 42/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1540 - accuracy: 0.9389 - val_loss: 0.0418 - val_accuracy: 0.9885
Epoch 43/50
33/33 [==============================] - 0s 6ms/step - loss: 0.1387 - accuracy: 0.9532 - val_loss: 0.0395 - val_accuracy: 0.9885
Epoch 44/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1585 - accuracy: 0.9379 - val_loss: 0.0374 - val_accuracy: 0.9924
Epoch 45/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1407 - accuracy: 0.9446 - val_loss: 0.0362 - val_accuracy: 0.9885
Epoch 46/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1457 - accuracy: 0.9436 - val_loss: 0.0351 - val_accuracy: 0.9885
Epoch 47/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1170 - accuracy: 0.9561 - val_loss: 0.0338 - val_accuracy: 0.9924
Epoch 48/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1164 - accuracy: 0.9608 - val_loss: 0.0327 - val_accuracy: 0.9924
Epoch 49/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1117 - accuracy: 0.9513 - val_loss: 0.0317 - val_accuracy: 0.9924
Epoch 50/50
33/33 [==============================] - 0s 5ms/step - loss: 0.1363 - accuracy: 0.9522 - val_loss: 0.0311 - val_accuracy: 0.9924

In [30]:
history.history

{'accuracy': [0.5749761462211609,
  0.5759312510490417,
  0.6609359979629517,
  0.6972301602363586,
  0.7201527953147888,
  0.7526265382766724,
  0.7946513891220093,
  0.7927411794662476,
  0.8156638145446777,
  0.8147087097167969,
  0.8233046531677246,
  0.8452721834182739,
  0.8576886057853699,
  0.8576886057853699,
  0.8576886057853699,
  0.873925507068634,
  0.8806112408638,
  0.8911174535751343,
  0.8930277228355408,
  0.8997134566307068,
  0.8949379324913025,
  0.9092645645141602,
  0.8987583518028259,
  0.9121298789978027,
  0.915950357913971,
  0.9188156723976135,
  0.9178605675697327,
  0.9264565706253052,
  0.9255014061927795,
  0.9388729929924011,
  0.9235911965370178,
  0.9321871995925903,
  0.9283667802810669,
  0.9407832026481628,
  0.9264565706253052,
  0.934097409248352,
  0.9331423044204712,
  0.9379178881645203,
  0.9379178881645203,
  0.9283667802810669,
  0.9474689364433289,
  0.9388729929924011,
  0.9531996250152588,
  0.9379178881645203,
  0.9446036219596863,
  0.9436485171318054,
  0.9560649394989014,
  0.9608405232429504,
  0.9512894153594971,
  0.9522445201873779],
 'loss': [1.1328327655792236,
  0.9892255067825317,
  0.8391083478927612,
  0.7101738452911377,
  0.6736711263656616,
  0.5653263330459595,
  0.461029589176178,
  0.46314918994903564,
  0.43363672494888306,
  0.4195367693901062,
  0.38298818469047546,
  0.3738259971141815,
  0.31990084052085876,
  0.32340267300605774,
  0.32191792130470276,
  0.29339534044265747,
  0.27697086334228516,
  0.2727806568145752,
  0.25831007957458496,
  0.24017812311649323,
  0.2450031042098999,
  0.23771066963672638,
  0.23505055904388428,
  0.20671458542346954,
  0.20111101865768433,
  0.1957218497991562,
  0.19284605979919434,
  0.18418025970458984,
  0.18100140988826752,
  0.14881747961044312,
  0.18535228073596954,
  0.17742279171943665,
  0.18830393254756927,
  0.1561293601989746,
  0.17184299230575562,
  0.16104787588119507,
  0.17043815553188324,
  0.1589198261499405,
  0.16283351182937622,
  0.171591117978096,
  0.1340007781982422,
  0.153977632522583,
  0.13872762024402618,
  0.1584857702255249,
  0.14070309698581696,
  0.14573822915554047,
  0.11702500283718109,
  0.11638190597295761,
  0.11169804632663727,
  0.13633789122104645],
 'val_accuracy': [0.6984732747077942,
  0.7900763154029846,
  0.8740457892417908,
  0.8702290058135986,
  0.8702290058135986,
  0.8664122223854065,
  0.8740457892417908,
  0.8931297659873962,
  0.9122137427330017,
  0.919847309589386,
  0.9351145029067993,
  0.9465649127960205,
  0.9465649127960205,
  0.9503816962242126,
  0.9618320465087891,
  0.9732824563980103,
  0.9809160232543945,
  0.9809160232543945,
  0.9809160232543945,
  0.9809160232543945,
  0.9809160232543945,
  0.9809160232543945,
  0.9809160232543945,
  0.9809160232543945,
  0.9809160232543945,
  0.9809160232543945,
  0.9847328066825867,
  0.9847328066825867,
  0.9847328066825867,
  0.9847328066825867,
  0.9847328066825867,
  0.9885495901107788,
  0.9847328066825867,
  0.9885495901107788,
  0.9885495901107788,
  0.9885495901107788,
  0.9885495901107788,
  0.9885495901107788,
  0.9885495901107788,
  0.9885495901107788,
  0.9885495901107788,
  0.9885495901107788,
  0.9885495901107788,
  0.9923664331436157,
  0.9885495901107788,
  0.9885495901107788,
  0.9923664331436157,
  0.9923664331436157,
  0.9923664331436157,
  0.9923664331436157],
 'val_loss': [0.6628745198249817,
  0.6338371634483337,
  0.6006075739860535,
  0.5625724792480469,
  0.5185198783874512,
  0.4709235429763794,
  0.4206429719924927,
  0.3705842196941376,
  0.319394052028656,
  0.2762967348098755,
  0.23848538100719452,
  0.20692966878414154,
  0.18034905195236206,
  0.15888182818889618,
  0.13853904604911804,
  0.12242276221513748,
  0.11051397770643234,
  0.10154790431261063,
  0.09432635456323624,
  0.08893858641386032,
  0.08416105061769485,
  0.08015971630811691,
  0.07573183625936508,
  0.07178035378456116,
  0.067865751683712,
  0.06399372965097427,
  0.06112127751111984,
  0.059235427528619766,
  0.05763592943549156,
  0.05611028894782066,
  0.05382537841796875,
  0.05198360234498978,
  0.05119099095463753,
  0.04901393502950668,
  0.04687831178307533,
  0.04590434208512306,
  0.04566190764307976,
  0.04552089795470238,
  0.04389272257685661,
  0.04331141710281372,
  0.042108189314603806,
  0.041752755641937256,
  0.039482273161411285,
  0.03735046461224556,
  0.0362151674926281,
  0.035125091671943665,
  0.03382129222154617,
  0.03272770717740059,
  0.03169136866927147,
  0.031147312372922897]}